.background-diamond{
  background: radial-gradient(76.72% 76.72% at 50.49% 48.67%, #9FEADD 50%, #FFB854 87.5%);
}

.winnercard {
  background-color: #f8f8f8;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: left;
  padding-left: 112px !important;
  padding-right: 112px !important;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom:24px;
  margin-top:24px;
}

.block{
  margin-bottom: 24px;
}

.horizontalcenter {
  margin: auto;
}

.overflow {
  overflow: hidden;
}

.results_image {
  max-width: 80%;
  object-fit: cover;
}
