.landing-page-content-container {
    margin: 0 auto;
}

.create-enter-room-container .form-control {
    max-width: 200px;
    margin: auto;
}

#backgroundcolorz {
    background: radial-gradient(76.72% 76.72% at 50.49% 48.67%, #9FEADD 40.62%, #FFB854 87.5%);
}
