
.card {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  padding: 2rem 3rem 2rem 3rem;
  background-color: #f8f8f8;
  margin: auto;
}

.review{
  border-style: solid;
  border-color: #000;
  border-width: 0.1rem;
  padding: 1rem;
  word-break: break-word;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   max-height: 112px; /* fallback */
   min-height: 112px; /* fallback */
   -webkit-line-clamp: 6; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.reviewModal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  word-break: break-word;
  border-style: solid;
  border-color: #000;
  border-width: 0.1rem;
  box-shadow: 0px 1px 2px grey;
  background: #ffb854;
  padding: 2rem 3rem 2rem 3rem;
   line-height: 16px; /* fallback */
   min-height: 112px; /* fallback */
   min-width: 50%;
   -webkit-line-clamp: 6; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/* .carou-style {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 6vw;
  padding-right: 6vw;
  object-fit: contain;
  align-items: stretch;
} */

.image {
  border-radius: 10px;
  /* display: block; */
  /* position:relative; */
  min-width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  /* align-items: stretch; */
}

.slide {
  opacity: 0;
  transition: 2s;
  max-width: 100%;
  height: auto;
}

.slide.active {
  opacity: 1;
  transition: 1s ease;
  transform: scale(1.08);
  max-width: 100%;
  height: auto;
}

.btn {
  margin: 2px;
  border-radius: 0.3em !important;
}

.btn-group {
  width: auto;
}

.selection {
  width: 10%;
  height: auto;
}

.text-description {
  text-align: left;
  margin: 0rem 2.5rem 0vw 2.5rem;
}

.review {
  background-color: #ffb854;
  border-style:solid;
  border-width: 1px;
  text-align: left;
}

.lockup{
  position: sticky;
  bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background:#ffffff;
}

.selectionControl {
  justify-content: center;
}

.selectionYes {
  background-color: #C4DC74 !important;
  border-style: solid !important;
  border-width: 1px !important;
  color: black!important;
  border-radius: 0px !important;
}

.selectionNo {
  background-color: #E4664D !important;
  border-style: solid !important;
  border-width: 1px !important;
  margin-right: 3rem !important;
  color: black!important;
  border-radius: 0px !important;
}

.tag {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #9FEADD;
  border-style: solid;
  border-width: 1px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
