.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --Fonts--------------------------- */
.h0 {
  font-family: "Poppins", serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 7.5rem;
}

h1 {
  font-family: 'OPTIImprovNewWideNine', serif;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  line-height: 2rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem !important;
  font-weight: bold !important;
  line-height: 1.75rem !important;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
}

h6 {
  font-family: 'OPTIImprovNewWideNine', sans-serif;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
}

.mainsubtitle {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

p {
  font-family: 'OPTIImprovNewWideNine', sans-serif;
  font-size: 1rem;
}

.p2 {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
}
